# Prerequisites
*.d

# Compiled Object and Library files
*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a
*.lai
*.la

# Executables
*.exe
*.out
*.app

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# CMake build folders and files
build/
bin/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
_deps/

# Custom Assets/Shaders (Keep source assets, ignore build-copied ones)
# (Optional: uncomment if you don't want the build/assets to be tracked)
# build/assets/